<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".5-minseok-customtheme.CustomthemeActivity"
            android:exported="false"
            android:label="@string/title_activity_customtheme"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".4-minseok-card-textfield.CardActivity"
            android:exported="false"
            android:label="@string/title_activity_card"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".4-minseok-card-textfield.TextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_text_field"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".3-miseok-lazyrow-lazycolumn.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".3-miseok-lazyrow-lazycolumn.LazyrowActivity"
            android:exported="false"
            android:label="@string/title_activity_lazyrow"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".2-minseok-Box-Column-Row.ColumnActivity"
            android:exported="false"
            android:label="@string/title_activity_column"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".2-minseok-Box-Column-Row.BoxActivity"
            android:exported="false"
            android:label="@string/title_activity_box"
            android:theme="@style/Theme.Android6thTIL" />
        <activity
            android:name=".2-minseok-Box-Column-Row.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Android6thTIL" />
    </application>

</manifest>